@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans:wght@700&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  border: 0;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
}

span {
  font-family: 'Lato';
}

a {
  color: #346BD4;
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  font-weight: 400;
}

a:hover {
  cursor: pointer;
  color: blue;
}

a:active {
  color: black;
}

button:hover {
  cursor: pointer;
}

.container {
  display: flex;
}

.heading {
  font-size: 4rem;
  color: #ffffff;
}

#left-container {
  background-color: black;
  height: 100vh;
  width: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  /* background-color: black; */
  width: 58vw;
}

#login-top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-form {
  display: flex;
  padding: 2rem;
  border-radius: 10px;
  gap: 10px;
  flex-direction: column;
  background-color: white;
}

.login-form a {
  margin: 10px 0px;
}

.login-buttons {
  display: flex;
  gap: 20px;
}

label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
}

.login-buttons button {
  text-align: center;
  margin: 1.4rem 0px;
  font-size: 0.8rem;
  display: flex;
  gap: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #858585;
  background-color: white;
  border: 0;
  border-radius: 10px;
  padding: 0.7rem;
  transition: all 0.3s;
}

.login-buttons button:hover {
  background-color: #EAEAEA;
  transition: all 0.3s;
}

.login-buttons button:active {
  scale: 95%;
  transition: all 0.3s;
}



button>svg {
  font-size: 1rem;
}

input {
  background-color: #F5F5F5;
  outline: none;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}

input:hover {
  scale: 105%;
  transition: all 0.3s;
}

input:focus {
  border: 0;
  background-color: #EAEAEA;
  transition: all 0.3s;
}


button[type="submit"] {
  background-color: black;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s;
}

button[type="submit"]:hover {
  scale: 103%;
  transition: all 0.3s;
}

button[type="submit"]:active {
  scale: 100%;
  transition: all 0.3s;
}

@media screen and (max-width:700px) {
  .container{
    flex-direction: column;
  }
  #left-container,#right-container{
    width: auto;
    height: auto;
  }
  #right-container{
    align-items: start;
    padding: 5rem 10px 0px 10px;
    height: 90svh;
  }
}